body{
    margin: 0;
    padding: 0;
    background-image: url('/resources/space.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.page_404 {
    text-align: center;
  
}

.page_404 h1 {
    font-size: 130px;
    margin: 0;
    font-weight: 900;
    font-weight: bold;
    background: url('/resources/space_loop.gif') center no-repeat;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.page_404 h2 {
    font-size: 30px;
}

.page_404 .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.page_404 .btn:hover {
    background-color: #e53935;
}


.txt404 { margin-bottom: 40px; }
.txt404 {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

.txt404 p { margin-bottom: 15px; }

article.err{
    background: hsla(240, 1.8%, 22%, 0.56);
    border: 1px solid hsla(0, 8%, 90.2%, 0.31);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
}