
/*-----------------------------------*\
#LightMode.css
\*-----------------------------------*/


/*-----------------------------------*\
#light mode PROPERTY
\*-----------------------------------*/

:root{
    /* predefine colors */
    --smoke-white-1: hsl(240, 12%, 90%);
    --smoke-white-2: hsl(240, 12%, 85%);
    --white-smoke: hsl(0, 0%, 96%);
    --light-onyx: hsl(240, 1%, 70%);
    --vegas-gold: hsl(19, 58%, 52%);
    --dark-gray: hsl(0, 0%, 26%);
    --dark-gray-70: hsla(0, 0%, 30%, 0.7);
    --black-1: hsl(0, 0%, 0%);
    --black-2: hsl(0, 0%, 12%);
    /* --light-onyx: hsl(0, 0%, 85%); */

    /* predefine gradient */
    
    --bg-gradient-light-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 75%) 3%, 
    hsl(0, 0%, 85%) 97%
    );
    --bg-gradient-light-jet: linear-gradient(
    to bottom right, 
    hsla(0, 0%, 100%, 0.432) 0%, 
    hsla(0, 0%, 75%, 0.055) 100%
    ), hsl(0, 0%, 90%);
    --border-gradient-light-onyx: linear-gradient(
        to bottom right, 
        hsl(0, 0%, 77%) 10%, 
        hsl(0, 0%, 87%) 50%
    );
}


/* ------------ light mode switch btn ---------------- */

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #1e1e1f;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    /* transform: scale(1.5); */
    transform: scale(0.8);
    /* transition: 0.5s; */
    transition: background 0.3s ease;
}



.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
    background-image: url('/resources/moon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* .label .ball::before{
  
} */
.checkbox:checked+.label {
    background: #CD4F33;

}

/* alterantive method */
/* #inp:checked ~ label {
	background: #CD4F33;
	
} */

.checkbox:checked+.label .ball {
    transform: translateX(24px);
    background-image: url('/resources/sunny.svg');

}

/* ------------- light mode switches ---------------- */

.light,
.light .header,
.light .sidebar,
.light article {
    background: var(--white-smoke);
}

.light .navbar{
    background: hsla(16.3, 55.6%, 49.4%, 0.4)
}

.light .navbar-link{
    color : var(--dark-gray);
}

.light .navbar-link:hover,
.light .navbar-link:focus { color: var(--dark-gray-70); }

.light .navbar-link.active { 
    color: var(--vegas-gold); 
}

.light .h2,
.light .h3,
.light .h4,
.light .h5,
.light .h6{ 
    color : var(--black-2);
}



.light .info-content .name{
    color: var(--black-2);
}

.light .contact-info :is(.contact-link, time, address) {
    color: var(--black-2);
}

.light .project-title ,
.light .form-input,
.light .modal-close-btn {
    color: var(--black-2);
}


.light .contact-title,
.light .social-item .social-link,
.light .modal-content time,
.light .project-category,
.light .blog-meta :is(.blog-category, time),
.light .blog-meta .dot,
.light .filter-item button:hover ,
.navbar-link:focus{
    color: var(--dark-gray-70);
}

.light .social-item .social-link:hover ,
.light .navbar-link,
.light .about-text,
.light .service-item-text,
.light .testimonials-text,
.light .modal-content p,
.light .timeline-text,
.light .skill .title-wrapper data,
.light .filter-select,
.light .select-item button ,
.light .blog-text,
.light .filter-item button {
    color: var(--dark-gray);
}


.light .content-card::before,
.light .info_more-btn::before,
.light .service-item::before,
.light .form-btn:disabled:hover::before ,
.light .form-btn::before{
    background: var(--bg-gradient-light-jet);
}


.light .icon-box{
    background:var(--border-gradient-light-onyx);
}

.light .icon-box::before {
    background: var(--white-smoke);
}


.light .content-card,
.light .info_more-btn,
.light .service-item,
.light .blog-post-item > a ,
.light .form-btn,
.light .form-btn:disabled:hover{
    background:var(--border-gradient-light-onyx);
}

.light .blog-post-item > a::before ,
.light .icon-box::before{
    background:var(--smoke-white-1) ;
}


.light .avatar-box{
    background: var(--bg-gradient-light-onyx);
}

/* .light .info-content .title,  */
.light .modal-close-btn {
    background: var(--light-onyx);
}

.light .filter-select {
    background: none;
}

.light .select-list{
    background: var(--smoke-white-2)
}


.light .select-item button{
    background: var(--smoke-white-2)

}

.light .select-item button:hover{
    --smoke-white-2:hsl(20, 55%, 50%);
}

.light .testimonials-avatar-box{
    background: var(--bg-gradient-light-onyx);

}

.light .testimonials-modal{
    background: var(--smoke-white-2);
}

.light .modal-avatar-box{
    background: var(--bg-gradient-light-jet);
}



body.light::-webkit-scrollbar-track { background: var(--white-smoke); }

body.light::-webkit-scrollbar-thumb {
    border: 6px solid var(--white-smoke);
    background: var(--vegas-gold);
    /* border: 5px solid var(--vegas-gold); */
    /* background: hsla(19, 75%, 47%, 0.884);  */
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.26),
                inset -1px -1px 0 hsla(0, 0%, 100%, 0.26);
}

body.light::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.212); }

/* * ---- img-slider light mode ----  */

.light .blog-slider{
    background: var(--white-smoke) ;
    border: 1px solid var(--jet);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.light .blog-slider__pagination .swiper-pagination-bullet{
    background: #062744;
    /* background: var(--dark-gray-70) */
}

.light .blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fd3838;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}