/* ----------------------- Google Fonts -------------------- */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700;800;900&display=swap'); */

/* ----------------------- CSS Variables Start from here ------------------- */
:root
{
    --header-height: 3rem;
    --nav-width: 324px;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Colors */
    --first-color: #1da1f2;
    --first-color-dark: #4545f5;
    --first-color-darken: #4c89f9;
    --text-color: #353535;
    --first-color-light: #eeeeee;
    --first-color-light-dark: #d7dcee;
    --first-color-lighten: #FFFAFA;

    /* Font & Typography */
    --body-font: 'Segoe UI', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* z-index */
    --z-fixed: 100;
}

@media screen and (min-width: 768px)
{
    :root
    {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
/* ----------------------- CSS Variables End from here ------------------- */


/* ---------------------------- Loading Screen start from here -------------- */
.loading
{
    width: 100%;
    height: 100%;
    background-color: #ffffff !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gooey 
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #ffffff;
    filter: contrast(20);
}

.gooey .dot 
{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: var(--first-color);
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.gooey .dots 
{
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.gooey .dots span 
{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: var(--first-color);
    border-radius: 50%;
}

@-moz-keyframes dot 
{
    50% {
        transform: translateX(96px);
    }
}

@-webkit-keyframes dot 
{
    50% {
        transform: translateX(96px);
    }
}

@-o-keyframes dot 
{
    50% {
        transform: translateX(96px);
    }
}

@keyframes dot 
{
    50% {
        transform: translateX(96px);
    }
}

@-moz-keyframes dots 
{
    50% {
        transform: translateX(-31px);
    }
}

@-webkit-keyframes dots 
{
    50% {
        transform: translateX(-31px);
    }
}

@-o-keyframes dots 
{
    50% {
        transform: translateX(-31px);
    }
}

@keyframes dots 
{
    50% {
        transform: translateX(-31px);
    }
}
/* ---------------------------- Loading Screen ends ------------------------ */

/* ---------------------------- BASE Start from here --------------------- */
*, ::before, ::after
{
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: #ffffff;
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, p
{
    margin: 0;
}

h3
{
    font-weight: var(--font-semi-bold);
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

a
{
    text-decoration: none;
    color: var(--text-color);
}

img
{
    max-width: 100%;
    height: auto;
    display: block;
}
/* ---------------------------- BASE Start from here --------------------- */

/* ---------------------------- Menu icon ---------------------------- */
.bx
{
    font-size: 1.6rem;
}
/* ---------------------------- Menu icon ---------------------------- */

/* ---------------------------- Class CSS ---------------------------- */
.section
{
    padding: 4rem 0 2rem;
}

.section-title
{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-subtitle
{
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}
/* ---------------------------- Class CSS ---------------------------- */

/* ---------------------------- Layout ---------------------------- */
.bd-grid
{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
/* ---------------------------- Layout ---------------------------- */

/* -------------------- Nav ----------------------- */
.nav
{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu
{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    transition: .5s;
}

.nav__close
{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color-light);
    cursor: pointer;
}

.nav__item
{
    margin-bottom: var(--mb-4);
}

.nav__link
{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--first-color-lighten);
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav__link:hover
{
    color: var(--first-color-light-dark);
}

.nav__toggle
{
    color: var(--text-color);
    font-size: 1.3rem;
    cursor: pointer;
}

.nav__logo
{
    font-weight: 600;
}
/* -------------------- Nav End ----------------------- */

/* ---------------------- Light/Dark Mode switch ---------------- */
body.dark
{
  background-color: #111218;
  
  /* Colors */
  --first-color: #444857;
  --first-color-dark: rgb(77, 74, 95);
  --first-color-darken: #7a7f94;
  --text-color: #ffffff;
  --first-color-light: #EAE7E6;
  --first-color-light-dark: #d7dcee;
  --first-color-lighten: #FFFAFA;
}

body.dark .l-header
{
    background-color: var(--first-color);
}

.l-d-mode
{
    opacity: 0;
    position: absolute;
}

.l-d-label
{
    background: #030303;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
    /* transform: scale(1.5); */
}

.bxs-moon
{
    font-size: 1.2rem;
    color: #f1c40f;
}

.bxs-sun
{
    font-size: 1.2rem;
    color: #f39c12;   
}

.ball
{
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.l-d-mode:checked + .l-d-label .ball
{
    transform: translateX(24px);
}
/* ---------------------- Dark Mode switch ---------------- */


/* --------------------- show menu -------------------- */
.show
{
    left: 0;
}
/* --------------------- show menu -------------------- */


/* ----------------------- Active menu ----------------- */
.active
{
    color: var(--first-color-light-dark);
}
/* ----------------------- Active menu ----------------- */

/* main banner on home  */
.main_banner{
	height: 850px;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner_bg{
	background-image: url(/resources/profile-pic\(14\).png);
	background-size: cover;
	background-position: center center;
	position: relative;
}
.banner_bg:before{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
}
.banner_content{
	margin-top: 270px;
}
.banner_content strong{
	text-transform: capitalize;
    color: #fff;
    font-size: 55px;
	font-weight: 900;
}
.banner_content h1{
    color: #fff;
    font-size: 50px;	
	font-weight: 900;
	text-transform: capitalize;
    margin: 15px 0 10px;
}
.banner_content h1 span .fw_600{
	font-weight: 900;
}
.banner_content h1 span .fw_300{
	font-weight: 900;
}
.banner_content p{
	color: #fff;
}
.banner-btn{
	margin-top: 40px;
}
.banner_btn{
	color: #fff;
    font-size: 15px;
    margin-top: 30px;
    text-transform: uppercase;
    padding: 15px 30px;
    letter-spacing: 0.5px;
	font-weight: 600;
    background: transparent;
	border-radius: 25px;
    line-height: 10px;
	border: 2px solid #fff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out 0s;
}
.banner_btn:hover{
	color: #333333;
	border: 2px solid #fff;
    background: #fff;
}


/* main banner on home ends */

/* ----------------------- Home Section Start from here --------------------------- */
.home__container
{
    height: calc(100vh - var(--header-height));
    align-items: center;
}

.home__data
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: max-content;
    text-align: right;
}

.home__img
{
    padding-top: 1.3rem;
    padding-left: .8rem;
    width: 160px;
    height: 160px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
    z-index: 2;
}

.home__img img
{
    width: 155px;
}

.home__title
{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    z-index: 2;
}

.home__profession
{
    font-size: var(--small-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
    z-index: 2;
}

.home__social
{
    margin-bottom: 5rem;
    z-index: 2;
}

.home__social-link
{
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.home__social-link:hover
{
    background-color: var(--first-color-dark);

    animation: social-animate 2s linear infinite;
}

@keyframes social-animate
{
    0%
    {
        box-shadow: 0 0 0 0 var(--first-color);
    }
    
    40%
    {
        box-shadow: 0 0 0 16px rgba(55,66,250,0);
    }
    
    80%
    {
        box-shadow: 0 0 0 16px rgba(55,66,250,0);
    }
    
    100%
    {
        box-shadow: 0 0 0 rgba(55,66,250,0);
    }
}

.home__button
{
    width: 100%;
    z-index: 2;
}
/* ----------------------- Home Section Start from here --------------------------- */

/* ----------------------- Buttons ------------------ */
.button
{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;

    background-size: 500%;
    background-image: linear-gradient(to left, var(--first-color), var(--first-color-dark), var(--first-color));
}

.button:hover
{
    background-color: var(--first-color-dark);
    background-position: right;
}

.button__light
{
    background-color: var(--first-color-lighten);
    color: var(--first-color);

    background-size: 500%;
    transition: 0.6s;
    background-image: linear-gradient(to left, #ffffff, #7c82f8, #ffffff);
}

.button__light:hover
{
    color: var(--first-color);
    background-position: right;
}
/* ----------------------- Buttons ------------------ */

/* ------------------------- About Section Start ------------------------- */
.about__container
{
    row-gap: 2rem;
}

.about__data
{
    text-align: center;
}

.about__description
{
    margin-bottom: var(--mb-4);
}

.about__img
{
    width: 260px;
    border-radius: .5rem;
    margin: 0 auto;
    background-color: var(--first-color);
}

.about__information
{
    margin-bottom: var(--mb-4);
}

.about__information-title
{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.about__information-data
{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}

.about__information-icon
{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}

.about__information-subtitle
{
    display: block;
    font-weight: var(--font-semi-bold);
}

.about__information-subtitle-small
{
    font-size: var(--small-font-size);
}
/* ------------------------- About Section End ------------------------- */

/* --------------------------- Skills Section Start ------------------------- */
.skills__container
{
    row-gap: 2rem;
}

.skills__subtitle
{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.skills__data
{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}

.skills__name
{
    text-transform: uppercase;
}

.skills__bar
{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--first-color);
}

.skills__html
{
    animation: load_html 3s normal forwards;
}

@keyframes load_html {
    0% { width: 0; }
    100% { width: 80%; }
}

.skills__js
{
    animation: load_js 3s normal forwards;
}

@keyframes load_js {
    0% { width: 0; }
    100% { width: 90%; }
}

.skills__react
{
    animation: load_react 3s normal forwards;
}

@keyframes load_react {
    0% { width: 0; }
    100% { width: 70%; }
}

.skills__angular
{
    animation: load_angular 3s normal forwards;
}

@keyframes load_angular {
    0% { width: 0; }
    100% { width: 60%; }
}

.skills__php
{
    animation: load_php 3s normal forwards;
}

@keyframes load_php {
    0% { width: 0; }
    100% { width: 80%; }
}

.skills__node
{
    animation: load_node 3s normal forwards;
}

@keyframes load_node {
    0% { width: 0; }
    100% { width: 70%; }
}

.skills__firebase
{
    animation: load_firebase 3s normal forwards;
}

@keyframes load_firebase {
    0% { width: 0; }
    100% { width: 90%; }
}

.skills__python
{
    animation: load_python 3s normal forwards;
}

@keyframes load_python {
    0% { width: 0; }
    100% { width: 60%; }
}
/* --------------------------- Skills Section End ------------------------- */


/* -------------------------- Education Section Start ---------------------------- */
.education__container
{
    row-gap: 2rem;
}

.education__content
{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education__year, .education__race
{
    font-size: var(--h3-font-size);
    mask-border: .25rem;
}

.education__university, .education__specialty
{
    display: block;
    font-size: var(--smaller-font-size);
}

.education__year, .education__university
{
    text-align: right;
}

.education__time
{
    padding: 0 1rem;
    justify-self: center;
}

.education__rounder
{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.education__rounder::before
{
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
}

.education__line
{
    display: block;
    height: 90%;
    width: 2px;
    background-color: var(--first-color);
    transform: translate(5px, -4px);
}
/* -------------------------- Education Section End ---------------------------- */


/* -------------------------- Services Section Start --------------------------- */
.services__container
{
    row-gap: 2rem;
}

.services__content
{
    padding: 1.5rem .5rem;
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    text-align: center;
}

.service__icon
{
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}

.services__title
{
    font-size: 1.25rem;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.services__content, .services__icon, .services__title, .services__description
{
    transition: .5s;
}

.services__content:hover
{
    background-color: var(--first-color);
}

.services__content:hover .service__icon
{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.services__content:hover .services__title
{
    color: var(--first-color-lighten);
}

.services__content:hover .services__description
{
    color: var(--first-color-lighten);
}
/* -------------------------- Services Section End --------------------------- */


/* ----------------------------- Project in mind Section Start ----------------- */
.project
{
    background-color: var(--first-color);
    padding-bottom: 0px;
}

.project__container
{
    row-gap: 2rem;
}

.project__data
{
    text-align: center;
}

.project__title, .project__description
{
    color: var(--first-color-lighten);
}

.project__description
{
    margin-bottom: var(--mb-4);
}

.project__img
{
    width: 220px;
    justify-self: center;
}
/* ----------------------------- Project in mind Section End ----------------- */


/* ------------------------------ Works ----------------------------- */
.works__container
{
    justify-items: center;
    row-gap: 2rem;
}

.works__img
{
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.works__data
{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3741fa81;
    border-radius: .5rem;
    transition: .3s;
}

.works__link
{
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--first-color-lighten);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    margin-bottom: var(--mb-2);
}

.works__title
{
    font-size: var(--h2-font-size);
    color: var(--first-color-lighten);
}

.works__img:hover .works__data
{
    bottom: 0;
}
/* ------------------------------ Works Section End ------------------------ */

/* ----------------------- Contact Section Start here ---------------------- */
.contact__container
{
    row-gap: 3rem;
}

.contact__input
{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: var(--first-color-light);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}

.contact::placeholder
{
    color: var(--first-color-dark);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

.contact__button
{
    outline: none;
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.contact__info
{
    margin-bottom: var(--mb-3);
}

.contact__subtitle
{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.contact__text
{
    display: block;
    padding-left: 1rem;
}
/* ----------------------------- Contact Section Ends here ---------- */

/* ----------------------------- Footer Section Start here -------------------- */
.footer
{
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer__title
{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.footer-description
{
    margin-bottom: var(--mb-2);
}

.footer-social
{
    margin-bottom: 3rem;
}

.footer__link
{
    display: inline-flex;
    background-color: var(--first-color-light);
    color: var(--first-color);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer__link:hover
{
    background-color: var(--first-color-lighten);
    color: var(--first-color);

    animation: footer-social-animate 2s linear infinite;
}

@keyframes footer-social-animate
{
    0%
    {
        box-shadow: 0 0 0 0 rgba(255,255,255, 0.7);
    }
    
    40%
    {
        box-shadow: 0 0 0 16px rgba(255,255,255,0);
    }
    
    80%
    {
        box-shadow: 0 0 0 16px rgba(255,255,255,0);
    }
    
    100%
    {
        box-shadow: 0 0 0 rgba(255,255,255,0);
    }
}

.footer__copy
{
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}
/* ------------------------- Footer Section Ends here ------------------------ */


/* -------------------------------------------------------------------------- */
/* ------------------------- Media Queries for tablet screen ---------------------------- */
@media screen and (min-width: 786px)
{
    /* ---------------------------- Loading Screen start ------------------------ */
    .loading
    {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        background-color: #ffffff;
    }
    /* ---------------------------- Loading Screen ends ------------------------ */

    /* ------------------------- Home Section Button ------------------------ */
    .home__button
    {
        width: initial;
    }
    /* ------------------------- Home Section Button ------------------------ */


    /* ------------------------- Nav Menu Section ------------------------ */
    .nav__menu
    {
        width: var(--nav-width);
    }
    /* ------------------------- Nav Menu Section ------------------------ */


    /* ------------------------- CSS Grid for Sections --------------------  */
    .about__container, 
    .skills__container,
    .services__container,
    .works__container,
    .contact__container,
    .contact__inputs
    {
        grid-template-columns: repeat(2, 1fr);
    }
    /* ------------------------- CSS Grid for Sections --------------------  */


    /* ------------------------- About Section ---------------------------- */
    .about__img
    {
        width: 160px;
    }

    .about__data
    {
        text-align: initial;
    }

    .about__information
    {
        padding-left: 4rem;
    }
    /* ------------------------- About Section ---------------------------- */


    /* ------------------------- Education Section ---------------------------- */
    .education__time
    {
        padding: 0 2rem;
    }
    /* ------------------------- Education Section ---------------------------- */


    /* ------------------------- Project Section ---------------------------- */
    .project
    {
        background: none;
    }

    .project__container
    {
        background-color: var(--first-color);
        grid-template-columns: 2fr 1.2fr;
        padding: 0 2rem;
        border-radius: .5rem;
    }

    .project__data
    {
        padding: 1rem 0;
    }

    .project__title, .project__data
    {
        text-align: initial;
    }

    .project__img
    {
        width: 230px;
        align-self: flex-end;
    }
    /* ------------------------- Project Section ---------------------------- */


    /* ------------------------- Contact Section ---------------------------- */
    .contact__inputs
    {
        display: grid;
        column-gap: 1.5rem;
    }

    .contact__info
    {
        padding-left: 3rem;
    }
    /* ------------------------- Contact Section ---------------------------- */


    /* ------------------------- Footer Section ---------------------------- */
    .footer
    {
        background: none;
    }

    .footer__container
    {
        background-color: var(--first-color-darken);
        padding: 3rem 0;
        border-radius: .5rem;
    }
    /* ------------------------- Footer Section ---------------------------- */
}
/* ------------------------- Media Queries for tablet screen ---------------------------- */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* ------------------ Media Query for laptop/desktop screen ------------------------- */
@media screen and (min-width: 1024px)
{
    /* ---------------------------- Loading Screen start ------------------------ */
    .loading
    {
        width: 100%;
        height: 100%;
        background-color: #f8f6f6;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* ---------------------------- Loading Screen ends ------------------------ */

    body
    {
        margin: 0;
        padding-left: var(--nav-width);
    }

    /* ------------------------- Nav Section ---------------------------- */
    .l-header
    {
        width: 0;
    }

    .nav__toggle, .nav__logo, .nav__close
    {
        display: none;
    }

    .nav__menu
    {
        left: 0;
    }
    /* ------------------------- Nav Section ---------------------------- */


    /* ------------------------- Home Container ---------------------------- */
    /* ----------------------- Particles ------------------- */
    #particles-js
    {
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }
    /* ----------------------- Particles ------------------- */

    .home__container
    {
        height: 100vh;
    }
    /* ------------------------- Home Container ---------------------------- */


    /* ------------------------- CSS code for section ---------------------------- */
    .section
    {
        padding: 3rem 0 2rem;
    }

    .bd-grid
    {
        margin-left: auto;
        margin-right: auto;
    }
    /* ------------------------- CSS code for section ---------------------------- */


    /* ------------------------ About Section ---------------------------------- */
    .about__img
    {
        width: 200px;
    }
    /* ------------------------ About Section ---------------------------------- */


    /* ------------------------ Service and Work Section --------------------------- */
    .services__container, .works__container
    {
        grid-template-columns: repeat(3,1fr);
    }
    /* ------------------------ Service and Work Section --------------------------- */
}
/* ------------------------------ Media Query for laptop/desktop screen ------------------------- */
/* -------------------------------------------------------------------------- */
