<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Personal Portfolio Template | Nihory</title>
    <meta name="author" content="Atul Prajapati | Freelance web developer">
    <meta name="description" content="Nihory is a creative personal & portfolio template based on HTML, CSS and Javascript. You can use it for your personal resume, CV or your portfolio. It will help you to present your self even your Business & portfolio more smartly and easily. Nihory is written in valid and clean HTML & CSS3 code. It’s easy to customize">
    <meta name="keywords" content="portfolio template, template for portfolio, portfolio template website, portfolio template indesign, portfolio template design, portfolio template free, portfolio template architecture, portfolio template for word, portfolio template for architecture, portfolio template bootstrap, portfolio template html, teaching portfolio template, portfolio template indesign free, cover page for portfolio template, portfolio template html free">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="img/nihory-fav.png"/>

    <!------------------ External CSS ------------------>
    <link rel="stylesheet" href="css/error-404.css">
</head>
<body>
    <!--------------------------- 404 comming soon starts --------------------->
    <section class="page_404">
        <div class="container">
            <h2>Oops! page not found.</h2>
            <h1>404</h1>
            <p>We can't find the page you're looking for.</p>
            <a href="index.html">Let's Go Home</a>
        </div>
    </section>
    <!--------------------------- 404 comming soon ends --------------------->
</body>
</html>